<div class="card full-screen-card">
  <p-menubar [model]="items" [style]="{ 'background-color': '#8355974d',
  color: '#4F1964', borderColor: '#73328d',
  display: 'flex', width: '1525px', height: '17vh', padding:'4rem'}" /> <!-- position: 'fixed' -->

  <app-menu></app-menu>
</div>

<div class="curso">


  <div *ngIf="user.curso === Curso.INFORMATICA">
    <div class="title"> INFORMÁTICA - <a class="estilo">INTERMEDIÁRIO</a></div>


    <div class="info">
      <h2>Sobre o Nível Intermediário</h2>
      O <span><b>nível intermediário</b></span> de informática é destinado a estudantes que já possuem uma compreensão
      básica dos conceitos fundamentais e desejam aprofundar seus conhecimentos e habilidades técnicas.
      Este nível cobre áreas mais complexas e práticas, preparando os alunos para enfrentar desafios mais avançados. As
      principais matérias são:<br><br>

      <li><span><b>Linguagem de Programação:</b></span> Estudo das linguagens usadas para escrever programas de
        computador. Inclui sintaxe e semântica das linguagens.<br></li>

      <li><span><b>Lógica de Programação:</b></span> É a base para a escrita de programas de computador. Ela envolve o
        entendimento, construção de algoritmos que resolvem problemas específicos.<br></li>

      <li><span><b>Aplicações Web:</b></span> Introdução ao desenvolvimento de aplicações web, cobrindo tanto o
        front-end (parte visual) quanto o back-end (parte funcional).<br></li>

      <li><span><b>Banco de Dados:</b></span> Estudo de sistemas de gerenciamento de banco de dados (SGBD) e suas
        aplicações em armazenar, consultar e gerenciar dados.</li>
    </div>

    <div class="col-12 tela"></div>

    <div class="painel">
      <div class="card flex justify-content-center background">
        <p-panel header="Lógica de Programação:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=kpSINeZ_78TCUDSU&amp;list=PLqJK4Oyr5WSglLpxRZM5cAnmMdgsio-Zy"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=3nVeCcI-mW4xBGUy&amp;list=PLHz_AreHm4dmSj0MHol_aoNYCSGFqvfXV"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=7ueFxqXk_RJub9mh&amp;list=PLucm8g_ezqNp_ubuH4XraJRwvUJogsyiF"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-2">
      <div class="card flex justify-content-center">
        <p-panel header="Sistemas Computacionais:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=Xf-iHJD-b57yqkwT&amp;list=PLMeBuk6RhqM0zMAxjtNTKLN5qn6qjoXV4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=O0dhK66LJD6l3g6W&amp;list=PLBw9d_OueVJTEpM8sOKJ7S8jleQPCSQs3"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=YUa5GQqVEpcJexZY&amp;list=PL866_LrQxNVipiEgWtJMK5Fcgc6IBfVvc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-3">
      <div class="card flex justify-content-center">
        <p-panel header="Linguagem de Programação:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=178ydj9AIRULR8JX&amp;list=PLHz_AreHm4dkI2ZdjTwZA4mPMxWTfNSpR"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=w8fS7Fdnob5Lj3WL&amp;list=PLGxZ4Rq3BOBq0KXHsp5J3PxyFaBIXVs3r"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                  encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=zNHh37NPH_vLDxOu&amp;list=PLHz_AreHm4dkqe2aR0tQK74m8SFe-aGsY"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-4">
      <div class="card flex justify-content-center">
        <p-panel header="Rede de Computadores e Internet:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px'}">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=JnDRvByN9ephi283&amp;list=PLG_7LYUryUI1coU_8JZffCHspvDwZUbcC"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=zGi7Y0l71WWeRPMi&amp;list=PLvHXLbw-JSPfKp65psX5C9tyNLHHC4uoR"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=YX3ALlyEZ1G7mdKe&amp;list=PLF9vK2NfbRJtROPfTFQcJcB47STXDfYeX"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                  picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>

  </div>




  <div *ngIf="user.curso === Curso.MECANICA">
    <div class="title"> MECANICA - <a class="estilo">INTERMEDIÁRIO</a></div>



    <div class="info">
      <h2>Sobre o Nível Intermediário</h2>
      O <span><b>nível intermediário</b></span> de informática é destinado a estudantes que já possuem uma compreensão
      básica dos conceitos fundamentais e desejam aprofundar seus conhecimentos e habilidades técnicas.
      Este nível cobre áreas mais complexas e práticas, preparando os alunos para enfrentar desafios mais avançados. As
      principais matérias são:<br><br>

      <li><span><b>Linguagem de Programação:</b></span> Estudo das linguagens usadas para escrever programas de
        computador. Inclui sintaxe e semântica das linguagens.<br></li>

      <li><span><b>Lógica de Programação:</b></span> É a base para a escrita de programas de computador. Ela envolve o
        entendimento, construção de algoritmos que resolvem problemas específicos.<br></li>

      <li><span><b>Aplicações Web:</b></span> Introdução ao desenvolvimento de aplicações web, cobrindo tanto o
        front-end (parte visual) quanto o back-end (parte funcional).<br></li>

      <li><span><b>Banco de Dados:</b></span> Estudo de sistemas de gerenciamento de banco de dados (SGBD) e suas
        aplicações em armazenar, consultar e gerenciar dados.</li>
    </div>

    <div class="col-12 tela"></div>


    <div class="painel">
      <div class="card flex justify-content-center background">
        <p-panel header="Mecânica - Frente A:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=knKr6BLeQrUAoLXi&amp;list=PLEAQjGRLyR4vMyJHv1TNfJR1fNJ408OpC"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=nqfP1eANZiTdM45C&amp;list=PLZ8dBTV2_5HQpKzBt3nJex3Mbk7hmhFHl"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=uUZmaw15SBTtVwSX&amp;list=PLEpBerdY1nQvMz5WVfNA6xsQRE8BA9aEU"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-2">
      <div class="card flex justify-content-center">
        <p-panel header="Mecânica - Frente B:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=knKr6BLeQrUAoLXi&amp;list=PLEAQjGRLyR4vMyJHv1TNfJR1fNJ408OpC"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=nqfP1eANZiTdM45C&amp;list=PLZ8dBTV2_5HQpKzBt3nJex3Mbk7hmhFHl"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=uUZmaw15SBTtVwSX&amp;list=PLEpBerdY1nQvMz5WVfNA6xsQRE8BA9aEU"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-3">
      <div class="card flex justify-content-center">
        <p-panel header="Mecânica - Frente c:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=knKr6BLeQrUAoLXi&amp;list=PLEAQjGRLyR4vMyJHv1TNfJR1fNJ408OpC"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=nqfP1eANZiTdM45C&amp;list=PLZ8dBTV2_5HQpKzBt3nJex3Mbk7hmhFHl"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=uUZmaw15SBTtVwSX&amp;list=PLEpBerdY1nQvMz5WVfNA6xsQRE8BA9aEU"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-4">
      <div class="card flex justify-content-center">
        <p-panel header="Mecânica - Frente D:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px'}">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=knKr6BLeQrUAoLXi&amp;list=PLEAQjGRLyR4vMyJHv1TNfJR1fNJ408OpC"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=nqfP1eANZiTdM45C&amp;list=PLZ8dBTV2_5HQpKzBt3nJex3Mbk7hmhFHl"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=uUZmaw15SBTtVwSX&amp;list=PLEpBerdY1nQvMz5WVfNA6xsQRE8BA9aEU"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>

  </div>



  <div *ngIf="user.curso === Curso.ELETRONICA">
    <div class="title"> ELETRONICA - <a class="estilo">INTERMEDIÁRIO</a></div>


    <div class="info">
      <h2>Sobre o Nível Intermediário</h2>
      O <span><b>nível intermediário</b></span> de informática é destinado a estudantes que já possuem uma compreensão
      básica dos conceitos fundamentais e desejam aprofundar seus conhecimentos e habilidades técnicas.
      Este nível cobre áreas mais complexas e práticas, preparando os alunos para enfrentar desafios mais avançados. As
      principais matérias são:<br><br>

      <li><span><b>Linguagem de Programação:</b></span> Estudo das linguagens usadas para escrever programas de
        computador. Inclui sintaxe e semântica das linguagens.<br></li>

      <li><span><b>Lógica de Programação:</b></span> É a base para a escrita de programas de computador. Ela envolve o
        entendimento, construção de algoritmos que resolvem problemas específicos.<br></li>

      <li><span><b>Aplicações Web:</b></span> Introdução ao desenvolvimento de aplicações web, cobrindo tanto o
        front-end (parte visual) quanto o back-end (parte funcional).<br></li>

      <li><span><b>Banco de Dados:</b></span> Estudo de sistemas de gerenciamento de banco de dados (SGBD) e suas
        aplicações em armazenar, consultar e gerenciar dados.</li>
    </div>

    <div class="col-12 tela"></div>

    <div class="painel">
      <div class="card flex justify-content-center background">
        <p-panel header="Eletrônica - Frente A:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=knKr6BLeQrUAoLXi&amp;list=PLEAQjGRLyR4vMyJHv1TNfJR1fNJ408OpC"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=nqfP1eANZiTdM45C&amp;list=PLZ8dBTV2_5HQpKzBt3nJex3Mbk7hmhFHl"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=uUZmaw15SBTtVwSX&amp;list=PLEpBerdY1nQvMz5WVfNA6xsQRE8BA9aEU"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-2">
      <div class="card flex justify-content-center">
        <p-panel header="Eletrônica - Frente B:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=knKr6BLeQrUAoLXi&amp;list=PLEAQjGRLyR4vMyJHv1TNfJR1fNJ408OpC"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=nqfP1eANZiTdM45C&amp;list=PLZ8dBTV2_5HQpKzBt3nJex3Mbk7hmhFHl"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=uUZmaw15SBTtVwSX&amp;list=PLEpBerdY1nQvMz5WVfNA6xsQRE8BA9aEU"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-3">
      <div class="card flex justify-content-center">
        <p-panel header="Eletrônica - Frente C:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=knKr6BLeQrUAoLXi&amp;list=PLEAQjGRLyR4vMyJHv1TNfJR1fNJ408OpC"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=nqfP1eANZiTdM45C&amp;list=PLZ8dBTV2_5HQpKzBt3nJex3Mbk7hmhFHl"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=uUZmaw15SBTtVwSX&amp;list=PLEpBerdY1nQvMz5WVfNA6xsQRE8BA9aEU"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-4">
      <div class="card flex justify-content-center">
        <p-panel header="Eletrônica - Frente D:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px'}">
            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=knKr6BLeQrUAoLXi&amp;list=PLEAQjGRLyR4vMyJHv1TNfJR1fNJ408OpC"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=nqfP1eANZiTdM45C&amp;list=PLZ8dBTV2_5HQpKzBt3nJex3Mbk7hmhFHl"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/embed/videoseries?si=uUZmaw15SBTtVwSX&amp;list=PLEpBerdY1nQvMz5WVfNA6xsQRE8BA9aEU"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>

  </div>

