<div class="card full-screen-card">
  <p-menubar [model]="items" [style]="{ 'background-color': '#8355974d',
  color: '#4F1964', borderColor: '#73328d',
  display: 'flex', width: '100%', height: '17vh', padding:'4rem'}" /> <!-- position: 'fixed' -->

  <app-menu></app-menu>
</div>


<div class="curso">


  <div *ngIf="user.curso === Curso.INFORMATICA">

    <img src="../../../assets/images/logo-nimet.svg" alt="imagem ilustrativa do login" id="img" class="logo mb-3" style="width: 250px; height: auto; border-radius: 50px"/>

    <div class="title"> INFORMÁTICA - <a class="estilo">INTERMEDIÁRIO</a></div>


    <div class="info">
      <h2>Sobre o Nível Intermediário</h2>
      A Informática no <span><b>nível Intermediário</b></span> expande os conceitos aprendidos no nível básico, proporcionando uma compreensão mais profunda e o desenvolvimento de habilidades mais avançadas.
      Aqui estão três das principais matérias em que os alunos geralmente encontram mais dificuldades:
      <br><br>

      <li><span><b>Java Orientado a Objeto</b></span><br></li>

      <li><span><b>Comandos de Banco de Dados</b></span><br></li>

      <li><span><b>Operadores Lógicos</b></span> </li>

      <br>
      Estudaremos elas mais profundamente, nos paineis abaixo!
    </div>

    <div class="col-12 tela"></div>

    <div class="painel">
      <div class="card flex justify-content-center background">
        <p-panel header="Java Orientado a Objeto:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Java orientado a Objeto:</b></span>
              a <span><b>Programação Orientada a Objetos em Java (POO)</b></span> é um conceito central, onde os programas são organizados em objetos que interagem entre si.
              Isso torna o código mais modular, reutilizável e fácil de manter.
              <br></li>

              <!-- VIDEO -->

<!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=ucYr2vdZ5Qc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-2">
      <div class="card flex justify-content-center">
        <p-panel header="Comandos de Banco de Dados:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Comandos de Banco de Dados:</b></span>
              os <span><b>Comandos de Banco de Dados</b></span>  são usados para gerenciar e manipular informações.
              Por meio de linguagens como SQL, é possível criar, alterar e consultar dados armazenados, o que é essencial para qualquer aplicação que utilize bases de dados.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=wW3eve4vTMc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-3">
      <div class="card flex justify-content-center">
        <p-panel header="Operadores Lógicos:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Operadores Lógicos:</b></span>
              os <span><b>Operadores Lógicos</b></span> são fundamentais para a lógica de programação, pois permitem a criação de condições e tomadas de decisão nos algoritmos.
              Eles ajudam a controlar o fluxo do programa e a determinar qual ação será tomada em diferentes cenários.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=wW3eve4vTMc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>

  </div>




  <div *ngIf="user.curso === Curso.MECANICA">

    <img src="../../../assets/images/logo-nimet.svg" alt="imagem ilustrativa do login" id="img" class="logo mb-3" style="width: 250px; height: auto; border-radius: 50px"/>

    <div class="title"> MECANICA - <a class="estilo">INTERMEDIÁRIO</a></div>



    <div class="info">
      <h2>Sobre o Nível Intermediário</h2>
      A mecânica no <span><b>nível Intermediário</b></span> aprofunda os conceitos aprendidos na fase básica, preparando os alunos para desafios mais complexos na criação e manutenção de sistemas mecânicos.
      Aqui estão três das principais matérias que os alunos geralmente encontram mais dificuldades:
      <br><br>

      <li><span><b>Sistemas Estaticamente Endeterminados</b></span><br></li>

      <li><span><b>Equilíbrio de Esforços</b></span><br></li>

      <li><span><b>Molas e Engrenagens</b></span> </li>

      <br>
      Estudaremos elas mais profundamente, nos paineis abaixo!
    </div>

    <div class="col-12 tela"></div>


    <div class="painel">
      <div class="card flex justify-content-center background">
        <p-panel header="Sistemas Estaticamente Endeterminados:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Sistemas Estaticamente Endeterminados:</b></span>
              os <span><b>Sistemas Estaticamente Endeterminados</b></span> são estruturas que não podem ser analisadas apenas por métodos de equilíbrio.
              Essa disciplina envolve o uso de técnicas avançadas para determinar as reações e forças internas em estruturas complexas, o que é fundamental para garantir a segurança e estabilidade de edificações e máquinas.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/watch?v=-ZEwOjSKomc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
              
             
            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-2">
      <div class="card flex justify-content-center">
        <p-panel header="Equilíbrio de Esforços:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Equilíbrio de Esforços:</b></span>
              o <span><b>Equilíbrio de Esforços</b></span>  é uma parte crucial da mecânica, onde se analisa as forças que atuam em uma estrutura ou corpo.
              Compreender como as forças se equilibram é essencial para projetar sistemas que suportem cargas sem falhas, garantindo a eficiência e a segurança das construções e equipamentos.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/watch?v=F2naiMS1qDA"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
             
            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-3">
      <div class="card flex justify-content-center">
        <p-panel header="Molas e engrenagens:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Molas e Engrenagens:</b></span>
              o estudo de <span><b>Molas e Engrenagens</b></span>  foca nos elementos de máquina que armazenam e transmitem energia.
              Essa matéria abrange o funcionamento, as propriedades e as aplicações desses componentes em diversos sistemas mecânicos, como suspensão de veículos e transmissões, sendo vital para o design de máquinas eficientes.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/watch?v=khtOlnBwHTo"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
             
            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>

  </div>



  <div *ngIf="user.curso === Curso.ELETRONICA">

    <img src="../../../assets/images/logo-nimet.svg" alt="imagem ilustrativa do login" id="img" class="logo mb-3" style="width: 250px; height: auto; border-radius: 50px"/>

    <div class="title"> ELETRONICA - <a class="estilo">INTERMEDIÁRIO</a></div>


    <div class="info">
      <h2>Sobre o Nível Intermediário</h2>
      A Eletrônica no <span><b>nível Intermediário</b></span> aprofunda os conhecimentos adquiridos no nível básico, desafiando os alunos a aplicar conceitos mais complexos e práticos em eletrônica.
      Aqui estão três das principais matérias que os alunos geralmente encontram mais dificuldades:
      <br><br>

      <li><span><b>Sistema Alternado</b></span><br></li>

      <li><span><b>Semicondutores</b></span><br></li>

      <li><span><b>Memórias de Microprocessadores</b></span> </li>

      <br>
      Estudaremos elas mais profundamente, nos paineis abaixo!
    </div>

    <div class="col-12 tela"></div>

    <div class="painel">
      <div class="card flex justify-content-center background">
        <p-panel header="Sistema Alternado:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Sistema Alternado:</b></span>
              o <span><b>Sistema Alternado</b></span> estuda a corrente alternada (AC), que é amplamente usada nas redes elétricas.
              Alunos aprendem a trabalhar com esse tipo de corrente, analisando circuitos e entendendo como aplicar AC em sistemas eletrônicos e de potência.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=SsUj6h8NoR8"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
              
            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-2">
      <div class="card flex justify-content-center">
        <p-panel header="Semicondutores:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Semicondutores:</b></span>
              os <span><b>Semicondutores</b></span> são materiais essenciais na construção de dispositivos eletrônicos, como transistores e diodos.
              Eles são a base da eletrônica moderna, e entender seu funcionamento é crucial para o desenvolvimento de circuitos integrados e componentes.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=sksilUt1uUg"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
           
            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-3">
      <div class="card flex justify-content-center">
        <p-panel header="Memórias de Microprocessadores:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Memórias de Microprocessadores:</b></span>
              as <span><b>Memórias de Microprocessadores</b></span> envolve o entendimento de como os dados são armazenados e acessados nos sistemas computacionais.
              Compreender as diferentes tecnologias de memória, como RAM e ROM, é essencial para a programação e o design de sistemas embarcados e computadores.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/watch?v=Yj_RHnNihk0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
           
            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>

  </div><br><br>

 <!-- <p-footer>
    <div class="content">
      <p>© 2024 - Todos os direitos reservados - ABSisters</p>
    </div>
  </p-footer> -->

  <footer class="footer">
    <div class="footer-content">
        <p>© 2024 - Todos os direitos reservados - ABSisters</p>
    </div>
</footer>