<app-menu></app-menu>


<div class="col-12 tela">

  <div *ngIf="user.curso === Curso.INFORMATICA">
    <div class="title"> INFORMÁTICA - INTERMEDIÁRIO </div>

    <div class="chart">
      <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
    </div>

    <div class="info">
      <h2>Sobre o Nível Intermediário</h2>
      O <span><b>nível intermediário</b></span> de informática é destinado a estudantes que já possuem uma compreensão
      básica dos conceitos fundamentais e desejam aprofundar seus conhecimentos e habilidades técnicas.
      Este nível cobre áreas mais complexas e práticas, preparando os alunos para enfrentar desafios mais avançados. As
      principais matérias são:<br><br>

      <li><span><b>Linguagem de Programação:</b></span> Estudo das linguagens usadas para escrever programas de
        computador. Inclui sintaxe e semântica das linguagens.<br></li>

      <li><span><b>Lógica de Programação:</b></span> É a base para a escrita de programas de computador. Ela envolve o
        entendimento, construção de algoritmos que resolvem problemas específicos.<br></li>

      <li><span><b>Aplicações Web:</b></span> Introdução ao desenvolvimento de aplicações web, cobrindo tanto o
        front-end (parte visual) quanto o back-end (parte funcional).<br></li>

      <li><span><b>Banco de Dados:</b></span> Estudo de sistemas de gerenciamento de banco de dados (SGBD) e suas
        aplicações em armazenar, consultar e gerenciar dados.</li>
    </div>
    <br>
    <div class="button-container row">

      <div class="col text-center">
        <button class="btn" (click)="quiz()">Quiz - Básico</button>
      </div>
      <div class="col text-center">
        <button class="btn" (click)="forum()">Fórum</button>
      </div>
      <div class="col text-center">
        <button class="btn" (click)="basico()">Nivel - Básico</button>
      </div>
      <div class="col text-center">
        <button class="btn" (click)="avancado()">Nível - Avançado</button>
      </div>

    </div>

  </div>

  <div *ngIf="user.curso === Curso.MECANICA">
    <div class="title"> MECANICA - INTERMEDIÁRIO </div>

    <div class="chart">
      <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
    </div>

    <div class="info">
      <h2>Sobre o Nível Intermediário</h2>
      O <span><b>nível intermediário</b></span> de informática é destinado a estudantes que já possuem uma compreensão
      básica dos conceitos fundamentais e desejam aprofundar seus conhecimentos e habilidades técnicas.
      Este nível cobre áreas mais complexas e práticas, preparando os alunos para enfrentar desafios mais avançados. As
      principais matérias são:<br><br>

      <li><span><b>Linguagem de Programação:</b></span> Estudo das linguagens usadas para escrever programas de
        computador. Inclui sintaxe e semântica das linguagens.<br></li>

      <li><span><b>Lógica de Programação:</b></span> É a base para a escrita de programas de computador. Ela envolve o
        entendimento, construção de algoritmos que resolvem problemas específicos.<br></li>

      <li><span><b>Aplicações Web:</b></span> Introdução ao desenvolvimento de aplicações web, cobrindo tanto o
        front-end (parte visual) quanto o back-end (parte funcional).<br></li>

      <li><span><b>Banco de Dados:</b></span> Estudo de sistemas de gerenciamento de banco de dados (SGBD) e suas
        aplicações em armazenar, consultar e gerenciar dados.</li>
    </div>
    <br>
    <div class="button-container row">

      <div class="col text-center">
        <button class="btn" (click)="quiz()">Quiz - Básico</button>
      </div>
      <div class="col text-center">
        <button class="btn" (click)="forum()">Fórum</button>
      </div>
      <div class="col text-center">
        <button class="btn" (click)="basico()">Nivel - Básico</button>
      </div>
      <div class="col text-center">
        <button class="btn" (click)="avancado()">Nível - Avançado</button>
      </div>

    </div>


  </div>

  <div *ngIf="user.curso === Curso.ELETRONICA">
    <div class="title"> ELETRONICA - INTERMEDIÁRIO </div>

    <div class="chart">
      <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
    </div>

    <div class="info">
      <h2>Sobre o Nível Intermediário</h2>
      O <span><b>nível intermediário</b></span> de informática é destinado a estudantes que já possuem uma compreensão
      básica dos conceitos fundamentais e desejam aprofundar seus conhecimentos e habilidades técnicas.
      Este nível cobre áreas mais complexas e práticas, preparando os alunos para enfrentar desafios mais avançados. As
      principais matérias são:<br><br>

      <li><span><b>Linguagem de Programação:</b></span> Estudo das linguagens usadas para escrever programas de
        computador. Inclui sintaxe e semântica das linguagens.<br></li>

      <li><span><b>Lógica de Programação:</b></span> É a base para a escrita de programas de computador. Ela envolve o
        entendimento, construção de algoritmos que resolvem problemas específicos.<br></li>

      <li><span><b>Aplicações Web:</b></span> Introdução ao desenvolvimento de aplicações web, cobrindo tanto o
        front-end (parte visual) quanto o back-end (parte funcional).<br></li>

      <li><span><b>Banco de Dados:</b></span> Estudo de sistemas de gerenciamento de banco de dados (SGBD) e suas
        aplicações em armazenar, consultar e gerenciar dados.</li>
    </div>

    <br>

    <div class="button-container row">

      <div class="col text-center">
        <button class="btn" (click)="quiz()">Quiz - Básico</button>
      </div>
      <div class="col text-center">
        <button class="btn" (click)="forum()">Fórum</button>
      </div>
      <div class="col text-center">
        <button class="btn" (click)="basico()">Nivel - Básico</button>
      </div>
      <div class="col text-center">
        <button class="btn" (click)="avancado()">Nível - Avançado</button>
      </div>

    </div>


  </div>

</div>
