<app-menu></app-menu>

<!----------- TELA DE PERFIL DO USUÁRIO ------------------------------------------------------------------------------------------>

<div class="tela-perfil">
  <header>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
    <h5 class="titulo-principal" style="margin-left: 30px;   font-size: 1.7em;">Perfil</h5>
  </header>

  <div class="excluir-button">
    <div class="input-box">

      <div class="card flex justify-content-center gap-2" class="button-excluir">
        <p-toast />
        <p-confirmPopup #confirmPopupRef [style]="{padding: '30px'}">
          <ng-template pTemplate="headless" let-message let-test>
            <div class="border-round p-3">
              <span>{{ message.message }}</span>
              <div class="flex align-items-center gap-2 mt-3">
                <p-button (onClick)="accept()" label="Voltar" size="small"
                  [style]="{'background-color': '#ccadd8', borderColor: '#4F1964', color: '#4F1964', borderRadius: '20px', width: '10rem', height: '2rem', left:'-10px'}" />
                <p-button (click)="excluirPerfil(user)" label="Excluir" [outlined]="true" size="small"
                  [style]="{'background-color': '#ccadd8', borderColor: '#4F1964', color: '#4F1964', borderRadius: '20px', width: '10rem', height: '2rem', left:'10px'}" />
              </div>
            </div>
          </ng-template>
        </p-confirmPopup>
        <p-button class="custom-button"
          [style]="{'background-color': '#4F1964', borderColor: '#4F1964', color: '#ffffff', borderRadius: '20px', width: '10rem', height: '2.5rem', top:'8px'}"
          (onClick)="confirm($event)" label="Excluir Perfil" />
      </div>
    </div>
  </div>

  <!-- first column -->
  <div class="borda">
    <div class="input-box">
      <header>
        <h5>Nome</h5>
      </header>
      <input id="nome" class="form-control" type="nome" name="firstname" placeholder="Nome" [(ngModel)]="user.nome"
        [disabled]="edit" />
    </div>

    <div class="input-box">
      <header>
        <h5>Username</h5>
      </header>
      <input id="Username" class="form-control" type="Username" name="Username" placeholder="Username"
        [(ngModel)]="user.username" [disabled]="edit" />
    </div>


    <div class="input-box">
      <header>
        <h5>Email</h5>
      </header>
      <input id="email" type="email" name="email" placeholder="Email" class="form-control" [(ngModel)]="user.email"
        [disabled]="edit" />
    </div>


    <div class="input-box">
      <header>
        <h5>Curso</h5>
      </header>
      <input id="confirmcourse" type="curso" name="confirmcourse" list="cursos" placeholder="Curso" class="form-control"
        [(ngModel)]="user.curso" [disabled]="edit" />
    </div>

    <div class="input-box">
      <header>
        <h5>Senha</h5>
      </header>
      <!-- <button class="button" (click)="alterarSenha(user)" >Alterar Senha</button> -->
      <button class="button" (click)="senha()">Alterar Senha</button>
    </div>
    <!-- <button class="form-control" style="border: 1px solid #73328d; background-color:hsl(283, 48%, 90%);"
        (click)="senha()">Alterar Senha</button>
    </div> -->


    <!-- <div class="input-box">
      <header>
        <h5>Data de Nascimento</h5>
      </header>
      <input id="nome" class="form-control" type="nome" name="firstname" placeholder="Digite seu nome"
        [(ngModel)]="user.dataNascimento" [disabled]="edit" />
    </div> -->

    <br>

    <div class="input-box">
      <header>
        <h5>Editar dados</h5>
      </header>
      <button class="button" *ngIf="edit" (click)="allowEdit()">Editar campos do perfil</button>
      <button class="button" *ngIf="!edit" (click)="alterarPerfil(user)">Salvar alterações</button>
    </div>

  </div>


  <!------------------- RESULTADO DO QUIZ ------------------------------------------------------->

  <!-- RESULTADO DO QUIZ -->
  <!-- <div class="resultado-quiz">
<div class="excluir-button">
      <div class="input-box">

        <div class="card flex justify-content-center gap-2" class="button-excluir">
          <p-toast />
          <p-confirmPopup #confirmPopupRef [style]="{padding: '30px'}">
            <ng-template pTemplate="headless" let-message let-test>
              <div class="border-round p-3">
                <span>{{ message.message }}</span>
                <div class="flex align-items-center gap-2 mt-3">
                  <p-button (onClick)="accept()" label="Voltar" size="small"
                    [style]="{'background-color': '#ccadd8', borderColor: '#4F1964', color: '#4F1964', borderRadius: '20px', width: '10rem', height: '2rem', left:'-10px'}" />
                  <p-button (click)="excluirPerfil(user)" label="Excluir" [outlined]="true" size="small"
                    [style]="{'background-color': '#ccadd8', borderColor: '#4F1964', color: '#4F1964', borderRadius: '20px', width: '10rem', height: '2rem', left:'10px'}" />
                </div>
              </div>
            </ng-template>
          </p-confirmPopup>
          <p-button class="custom-button"
            [style]="{'background-color': '#4F1964', borderColor: '#4F1964', color: '#ffffff', borderRadius: '20px', width: '10rem', height: '2.5rem', top:'8px'}"
            (onClick)="confirm($event)" label="Excluir Perfil" />
        </div>
      </div>
    </div>
    <div class="borda-resultado-quiz">

      <header>
        <h3 class="titulo-resultado">Resultado do Quiz</h3>
        <br>
      </header>
    </div>


    <div class="conteiner-resultado-quiz-esquerda">
      <div class="conteiner-resultado-esquerda">

        <div class="caixa-resultado-quiz-esquerda-direita-emcima">
          <div class="input-texto-a">
            <p class="caixas-nome-quiz-emcima">{{quiz[0]?.nivel}} - {{quiz[0]?.curso}}</p>
          </div>
        </div>

        <p class="acertos">Acertos
          <a class="erros">Erros</a>
        </p>

        <nav>
          <div class="input-texto-a">
            <input id="adicionar uma resposta" class="caixa-num-acertos" type="adicionar uma resposta" name="firstname"
              placeholder="" [(ngModel)]="quiz[0].acertos" disabled />
          </div>
          <nav>

            <div class="input-texto-a">
              <input id="adicionar uma resposta" class="caixa-num-erros" type="adicionar uma resposta" name="firstname"
                placeholder="" [(ngModel)]="quiz[0].erros" disabled />
            </div>
          </nav>
        </nav>

        <h1 class="data-resultado-quiz">{{quiz[0]?.dataCriado |date : 'dd/MM/yyyy HH:mm'}}</h1>
      </div>
    </div>


    <div class="conteiner-resultado-quiz-direita">
      <div class="conteiner-resultado-direita">

        <div class="caixa-resultado-quiz-esquerda-direita-emcima">
          <div class="input-texto-a">
            <p class="caixas-nome-quiz-emcima">{{quiz[1]?.nivel}} - {{quiz[1]?.curso}}</p>
          </div>
        </div>

        <p class="acertos">Acertos
          <a class="erros">Erros</a>
        </p>

        <nav>
          <div class="input-texto-a">
            <input id="adicionar uma resposta" class="caixa-num-acertos" type="adicionar uma resposta" name="firstname"
              placeholder="" [(ngModel)]="quiz[1].acertos" disabled />
          </div>
          <nav>

            <div class="input-texto-a">
              <input id="adicionar uma resposta" class="caixa-num-erros" type="adicionar uma resposta" name="firstname"
                placeholder="" [(ngModel)]="quiz[1].erros" disabled />
            </div>
          </nav>
        </nav>


        <h1 class="data-resultado-quiz">{{quiz[1]?.dataCriado |date : 'dd/MM/yyyy HH:mm'}}</h1>
      </div>
    </div>
  </div> -->

  <!-- RESULTADO DO QUIZ -->
  <div class="resultado-quiz">

    <!-- <div class="borda-resultado-quiz"> -->
      <header>
        <h3 class="titulo-resultado">Resultado do Quiz</h3>
      </header>
    <!-- </div> -->

    <!-- Loop para renderizar os quizzes agrupados de 2 em 2 -->
    <div *ngFor="let group of quizRenderizao">
      <div class="resultado-row">
        <!-- Primeira coluna (esquerda) -->
        <div class="conteiner-resultado-quiz-esquerda" *ngIf="group[0]">
          <div class="conteiner-resultado-esquerda">
            <div class="caixa-resultado-quiz-esquerda-direita-emcima">
              <div class="input-texto-a">
                <p class="caixas-nome-quiz-emcima">{{group[0].nivel}} - {{group[0].curso}}</p>
              </div>
            </div>

            <p class="acertos">Acertos
              <a class="erros">Erros</a>
            </p>

            <nav>
              <div class="input-texto-a">
                <input id="adicionar uma resposta" class="caixa-num-acertos" type="adicionar uma resposta"
                  name="firstname" placeholder="" [(ngModel)]="group[0].acertos" disabled />
              </div>
              <nav>
                <div class="input-texto-a">
                  <input id="adicionar uma resposta" class="caixa-num-erros" type="adicionar uma resposta"
                    name="firstname" placeholder="" [(ngModel)]="group[0].erros" disabled />
                </div>
              </nav>
            </nav>

            <h1 class="data-resultado-quiz">{{group[0].dataCriado | date: 'dd/MM/yyyy HH:mm'}}</h1>
          </div>
        </div>

        <!-- Segunda coluna (direita) -->
        <div class="conteiner-resultado-quiz-direita" *ngIf="group[1]">
          <div class="conteiner-resultado-direita">
            <div class="caixa-resultado-quiz-esquerda-direita-emcima">
              <div class="input-texto-a">
                <p class="caixas-nome-quiz-emcima">{{group[1].nivel}} - {{group[1].curso}}</p>
              </div>
            </div>

            <p class="acertos">Acertos
              <a class="erros">Erros</a>
            </p>

            <nav>
              <div class="input-texto-a">
                <input id="adicionar uma resposta" class="caixa-num-acertos" type="adicionar uma resposta"
                  name="firstname" placeholder="" [(ngModel)]="group[1].acertos" disabled />
              </div>
              <nav>
                <div class="input-texto-a">
                  <input id="adicionar uma resposta" class="caixa-num-erros" type="adicionar uma resposta"
                    name="firstname" placeholder="" [(ngModel)]="group[1].erros" disabled />
                </div>
              </nav>
            </nav>

            <h1 class="data-resultado-quiz">{{group[1].dataCriado | date: 'dd/MM/yyyy HH:mm'}}</h1>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!----------------- PERGUNTAS DO FÓRUM -------------------------------------------------------------------------------------------------------------->

  <div class="perguntas-forum">
    <div class="borda-perguntas-forum">

      <header>
        <!-- <h3 >Perguntas no Fórum</h3> -->
        <h3 class="titulo-perguntas">Perguntas no Fórum</h3>
      </header>

      <div *ngIf="perguntas.length > 0">
        <div *ngFor="let pergunta of perguntas">

          <div class="conteiner-perguntas-forum-emcima">
            <div class="conteiner-perguntas-emcima">
              <div class="data-perguntas-forum-a">{{pergunta.dataCriado| date : 'dd/MM/yyyy HH:mm'}}</div>
              <div class="input-texto-a">
                <input id="pergunta" class="caixas-perguntas" [(ngModel)]="pergunta.titulo" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Caso o usuário não tenha colocado perguntas no fórum -->
      <div *ngIf="perguntas.length == 0">
        <div class="conteiner-perguntas-forum-emcima">
          <div class="conteiner-perguntas-emcima">

            <div class="data-perguntas-forum-a">Data de postagem:</div>
            <div class="input-texto-a">
              <input id="pergunta" class="caixas-perguntas" placeholder="Você não colocou perguntas no Fórum" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--------- RESPOSTAS DO FÓRUM --------------------------------------------------------------------------------------------------------------------------->



  <div class="respostas-forum">
    <div class="borda-respostas-forum">

      <header>
        <h3 class="titulo-respostas">Respostas no Fórum</h3>
      </header>


      <div *ngIf="perguntas.length > 0">
        <div *ngFor="let resposta of respostas">
          <div class="conteiner-respostas-forum-embaixo">
            <div class="conteiner-respostas-embaixo">

              <div class="caixa-respostas-forum-emcima">
                <p id="pergunta" class="titulo-principal" style="color: white; margin: botton -10px;">
                  {{resposta.pergunta.titulo}}</p>
              </div>
              <div class="data-respostas-forum">{{resposta.dataCriado | date : 'dd/MM/yyyy HH:mm'}}</div>
              <div class="input-texto-b">
                <p id="resposta" class="caixas-respostas">{{ resposta.resposta }}</p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Caso o usuario nao tem respostas no forum -->
      <div *ngIf="perguntas.length == 0">
        <div class="conteiner-respostas-forum-embaixo">
          <div class="conteiner-respostas-embaixo">
            <div class="caixa-respostas-forum-emcima">
              <p id="pergunta" class="caixas-respostas titulo-principal" style="color: white;">Não há respostas suas
                neste fórum.</p>

            </div>
            <div class="data-respostas-forum">Data de postagem:</div>
            <div class="input-texto-a">
              <p id="resposta" class="caixas-respostas" style="color:gray ;">Sem respostas vinculadas às perguntas.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
