<app-menu></app-menu>

<!----------- TELA DE PERFIL DO USUÁRIO ------------------------------------------------------------------------------------------>

  <div class="tela-perfil">
    <header>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap"/><h5 class="titulo-principal">Perfil</h5>
    </header>

     <!-- first column -->
     <div class="borda">
      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Nome</h5>
        </header>
        <input id="nome"  class="form-control" type="nome" name="firstname"
          placeholder="Nome" [(ngModel)]="user.nome"  required />
      </div>


      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Username</h5>
        </header>
        <input id="Username"  class="form-control" type="Username" name="Username"
        placeholder="Username"  [(ngModel)]="user.username" required />
     </div>

      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Email</h5>
        </header>
        <input id="email"  type="email" name="email" placeholder="Email"
        class="form-control"  [(ngModel)]="user.email"  required />
     </div>

      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Senha</h5>
        </header>
              <!-- <button class="button" (click)="alterarSenha(user)" >Alterar Senha</button> -->

        <button class="button-alterar">Alterar Senha</button>
      </div>

      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Curso</h5>
        </header>
        <input id="confirmcourse"  type="curso" name="confirmcourse" list="cursos"
            placeholder="Curso" class="form-control" [(ngModel)]="user.curso" required />
      </div>

      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Data de Nascimento</h5>
        </header>
        <input id="nome" class="form-control" type="nome" name="firstname"
          placeholder="Digite seu nome" [(ngModel)]="user.dataNascimento" required />
      </div>


        <div class="input-box">
          <button class="button-editar" (click)="alterarPerfil(user)">Editar Perfil</button>
        </div>

  </div>


<!------------------- RESULTADO DO QUIZ ------------------------------------------------------->

  <div>
  <div class="resultado-quiz">

    <div class="excluir-button">
        <div class="input-box">
          <button class="button-excluir">Excluir Perfil</button>
        </div>
    </div>

    <div class="borda-resultado-quiz">

      <header>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap"/><h3 class="titulo-resultado">Resultado do Quiz</h3>
      </header>

    </div>
    </div>

    <div class="conteiner-resultado-quiz-esquerda">
      <div class="conteiner-resultado-esquerda">

        <div class="caixa-resultado-quiz-esquerda-direita-emcima">
        <div class="input-texto-a">
          <span>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
          </span>
          <input id="adicionar uma resposta"  class="caixas-nome-quiz-emcima" type="adicionar uma resposta" name="firstname"
            placeholder="" required/>
        </div>
        </div>

        <!--<h4> Nome do Quiz</h4>-->
        <p class="acertos">Acertos
        <a class="erros">Erros</a></p>

        <nav> <!-- 0 -->
          <div class="input-texto-a">
          <span>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
          </span>
          <input id="adicionar uma resposta"  class="caixa-num-acertos" type="adicionar uma resposta" name="firstname"
            placeholder="" required/>
        </div>
        <nav>

          <!--0-->

          <div class="input-texto-a">
            <span>
              <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
            </span>
            <input id="adicionar uma resposta"  class="caixa-num-erros" type="adicionar uma resposta" name="firstname"
              placeholder="" required/>
          </div>
        </nav></nav>

        <h1 class="data-resultado-quiz">00/00/0000</h1>
      </div>
    </div>


    <div class="conteiner-resultado-quiz-direita">
      <div class="conteiner-resultado-direita">

        <div class="caixa-resultado-quiz-esquerda-direita-emcima">
          <div class="input-texto-a">
            <span>
              <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
            </span>
            <input id="adicionar uma resposta"  class="caixas-nome-quiz-emcima" type="adicionar uma resposta" name="firstname"
              placeholder="" required/>
          </div>
        </div>

        <!--<h4> Nome do Quiz</h4>-->

        <p class="acertos">Acertos
        <a class="erros">Erros</a></p>

          <nav><!--0-->
            <div class="input-texto-a">
              <span>
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
              </span>
              <input id="adicionar uma resposta"  class="caixa-num-acertos" type="adicionar uma resposta" name="firstname"
                placeholder="" required/>
            </div>
             <nav>

            <!--0-->
            <div class="input-texto-a">
              <span>
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
              </span>
              <input id="adicionar uma resposta"  class="caixa-num-erros" type="adicionar uma resposta" name="firstname"
                placeholder="" required/>
            </div>
          </nav></nav>

          <h1 class="data-resultado-quiz">00/00/0000</h1>
      </div>
    </div>


    <div class="conteiner-nome-embaixo-esquerda">
      <div class="conteiner-embaixo-esquerda">

        <div class="caixa-resultado-quiz-esquerda-direita-embaixo">
          <div class="input-texto-a">
            <span>
              <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
            </span>
            <input id="adicionar uma resposta"  class="caixas-nome-quiz-embaixo" type="adicionar uma resposta" name="firstname"
              placeholder="" required/>
          </div>
        </div>

        <!--<h2> Nome do Quiz</h2>-->
      </div>
    </div>

    <div class="conteiner-nome-embaixo-direita">
      <div class="conteiner-embaixo-direita">

        <div class="caixa-resultado-quiz-esquerda-direita-embaixo">
          <div class="input-texto-a">
            <span>
              <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
            </span>
            <input id="adicionar uma resposta"  class="caixas-nome-quiz-embaixo" type="adicionar uma resposta" name="firstname"
              placeholder="" required/>
          </div>
        </div>

        <!--<h2> Nome do Quiz</h2>-->
      </div>
    </div>


<!----------------- PERGUNTAS DO FÓRUM -------------------------------------------------------------------------------------------------------------->

    <div class="perguntas-forum">
      <div class="borda-perguntas-forum">

        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h3 class="titulo-perguntas">Perguntas no Fórum</h3>
        </header>

        <div class="conteiner-perguntas-forum-emcima">
          <div class="conteiner-perguntas-emcima">
            <div class="data-perguntas-forum-a">00/00/0000</div>

            <div class="input-texto-a">
              <span>
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
              </span>
              <input id="adicionar uma resposta"  class="caixas-perguntas" type="adicionar uma resposta" name="firstname"
                placeholder="" required  />
            </div>

          </div>
        </div>


        <div class="conteiner-perguntas-forum-embaixo">
          <div class="conteiner-perguntas-embaixo">
            <div class="data-perguntas-forum-b">00/00/0000</div>

            <div class="input-texto-a">
              <span>
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
              </span>
              <input id="adicionar uma resposta"  class="caixas-perguntas" type="adicionar uma resposta" name="firstname"
                placeholder="" required  />
            </div>

          </div>
        </div>

      </div>
      </div>


<!--------- RESPOSTAS DO FÓRUM --------------------------------------------------------------------------------------------------------------------------->

      <div class="respostas-forum">
        <div class="borda-respostas-forum">

          <header>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h3 class="titulo-respostas">Respostas no Fórum</h3>
          </header>

          <div class="conteiner-respostas-forum-embaixo">
            <div class="conteiner-respostas-embaixo">

              <div class="caixa-respostas-forum-emcima">
                <div class="input-texto-a">
                  <span>
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
                  </span>
                  <input id="adicionar uma resposta"  class="caixa-respostas-emcima" type="adicionar uma resposta" name="firstname"
                    placeholder="" required/>
                </div>
              </div>

             <div class="data-respostas-forum">00/00/0000</div>

             <div class="input-texto-a">
              <span>
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
              </span>
              <input id="adicionar uma resposta"  class="caixa-respostas-embaixo" type="adicionar uma resposta" name="firstname"
                placeholder="" required/>
            </div>

            </div>
          </div>

        </div>
        </div>


  </div>
</div>

