<app-menu></app-menu>

<!----------- TELA DE PERFIL DO USUÁRIO ------------------------------------------------------------------------------------------>

<div class="tela-perfil">
  <header>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
    <h5 class="titulo-principal" style="margin-left: 30px;   font-size: 1.7em;">Perfil</h5>
  </header>

  <!-- first column -->
  <div class="borda">
    <div class="input-box">
      <header>
        <h5>Nome</h5>
      </header>
      <input id="nome" class="form-control" type="nome" name="firstname" placeholder="Nome" [(ngModel)]="user.nome"
        [disabled]="edit" />
    </div>


    <div class="input-box">
      <header>
        <h5>Username</h5>
      </header>
      <input id="Username" class="form-control" type="Username" name="Username" placeholder="Username"
        [(ngModel)]="user.username" [disabled]="edit" />
    </div>

    <div class="input-box">
      <header>
        <h5>Email</h5>
      </header>
      <input id="email" type="email" name="email" placeholder="Email" class="form-control" [(ngModel)]="user.email"
        [disabled]="edit" />
    </div>

    <div class="input-box">
      <header>
        <h5>Senha</h5>
      </header>
      <!-- <button class="button" (click)="alterarSenha(user)" >Alterar Senha</button> -->

      <button class="button" (click)="senha()">Alterar Senha</button>
    </div>

    <div class="input-box">
      <header>
        <h5>Curso</h5>
      </header>
      <input id="confirmcourse" type="curso" name="confirmcourse" list="cursos" placeholder="Curso" class="form-control"
        [(ngModel)]="user.curso" [disabled]="edit" />

    </div>

    <div class="input-box">
      <header>
        <h5>Data de Nascimento</h5>
      </header>
      <input id="nome" class="form-control" type="nome" name="firstname" placeholder="Digite seu nome"
        [(ngModel)]="user.dataNascimento" [disabled]="edit" />
    </div>


    <div class="input-box">
      <button class="button" *ngIf="edit" (click)="allowEdit()">Editar Perfil</button>
      <button class="button" *ngIf="!edit" (click)="alterarPerfil(user)">Salvar</button>
    </div>

  </div>


  <!------------------- RESULTADO DO QUIZ ------------------------------------------------------->

  <div class="resultado-quiz">

    <div class="excluir-button">
      <div class="input-box">
        <button class="button-excluir" (click)="excluirPerfil(user)">Excluir Perfil</button>
      </div>
    </div>

    <div class="borda-resultado-quiz">

      <header>
        <h3 class="titulo-resultado">Resultado do Quiz</h3>
      </header>
    </div>
  </div>

  <div class="conteiner-resultado-quiz-esquerda">
    <div class="conteiner-resultado-esquerda">

      <div class="caixa-resultado-quiz-esquerda-direita-emcima">
        <div class="input-texto-a">
          <p class="caixas-nome-quiz-emcima">Nome do quiz</p>
        </div>
      </div>

      <!--<h4> Nome do Quiz</h4>-->
      <p class="acertos">Acertos
        <a class="erros">Erros</a>
      </p>

      <nav> <!-- 0 -->
        <div class="input-texto-a">
          <input id="adicionar uma resposta" class="caixa-num-acertos" type="adicionar uma resposta" name="firstname"
            placeholder="" required />
        </div>
        <nav>

          <!--0-->

          <div class="input-texto-a">
            <input id="adicionar uma resposta" class="caixa-num-erros" type="adicionar uma resposta" name="firstname"
              placeholder="" required />
          </div>
        </nav>
      </nav>

      <h1 class="data-resultado-quiz">00/00/0000</h1>
    </div>
  </div>


  <div class="conteiner-resultado-quiz-direita">
    <div class="conteiner-resultado-direita">

      <div class="caixa-resultado-quiz-esquerda-direita-emcima">
        <div class="input-texto-a">
          <p class="caixas-nome-quiz-emcima">Nome do quiz</p>

        </div>
      </div>

      <!--<h4> Nome do Quiz</h4>-->

      <p class="acertos">Acertos
        <a class="erros">Erros</a>
      </p>

      <nav><!--0-->
        <div class="input-texto-a">
          <input id="adicionar uma resposta" class="caixa-num-acertos" type="adicionar uma resposta" name="firstname"
            placeholder="" required />
        </div>
        <nav>

          <!--0-->
          <div class="input-texto-a">
            <input id="adicionar uma resposta" class="caixa-num-erros" type="adicionar uma resposta" name="firstname"
              placeholder="" required />
          </div>
        </nav>
      </nav>

      <h1 class="data-resultado-quiz">00/00/0000</h1>
    </div>
  </div>


  <div class="conteiner-nome-embaixo-esquerda">
    <div class="conteiner-embaixo-esquerda">

      <div class="caixa-resultado-quiz-esquerda-direita-embaixo">
        <div class="input-texto-a">
          <p class="caixas-nome-quiz-embaixo">Nome do quiz</p>

        </div>
      </div>

      <!-- <h2> Nome do Quiz</h2> -->
    </div>
  </div>

  <div class="conteiner-nome-embaixo-direita">
    <div class="conteiner-embaixo-direita">

      <div class="caixa-resultado-quiz-esquerda-direita-embaixo">
        <div class="input-texto-a">
          <p class="caixas-nome-quiz-embaixo">Nome do quiz</p>

        </div>
      </div>

      <!--<h2> Nome do Quiz</h2>-->
    </div>
  </div>


  <!----------------- PERGUNTAS DO FÓRUM -------------------------------------------------------------------------------------------------------------->

  <div class="perguntas-forum">
    <div class="borda-perguntas-forum">

      <header>
        <h3 class="titulo-perguntas">Perguntas no Fórum</h3>
      </header>

      <div *ngIf="perguntas.length > 0">
        <div *ngFor="let pergunta of perguntas">

          <div class="conteiner-perguntas-forum-emcima">
            <div class="conteiner-perguntas-emcima">
              <div class="data-perguntas-forum-a">{{pergunta.dataCriado| date : 'dd/MM/yyyy HH:mm'}}</div>
              <div class="input-texto-a">
                <input id="pergunta" class="caixas-perguntas" [(ngModel)]="pergunta.titulo" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Caso o usuário não tenha colocado perguntas no fórum -->
      <div *ngIf="perguntas.length == 0">
        <div class="conteiner-perguntas-forum-emcima">
          <div class="conteiner-perguntas-emcima">

            <div class="data-perguntas-forum-a">Data de postagem:</div>
            <div class="input-texto-a">
              <input id="pergunta" class="caixas-perguntas" placeholder="Você não colocou perguntas no Fórum" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--------- RESPOSTAS DO FÓRUM --------------------------------------------------------------------------------------------------------------------------->



  <div class="respostas-forum">
    <div class="borda-respostas-forum">

      <header>
        <h3 class="titulo-respostas">Respostas no Fórum</h3>
      </header>


      <div *ngIf="perguntas.length > 0">
        <div *ngFor="let resposta of respostas">
          <div class="conteiner-respostas-forum-embaixo">
            <div class="conteiner-respostas-embaixo">

              <div class="caixa-respostas-forum-emcima">
                <p id="pergunta" class="titulo-principal" style="color: white;">
                  {{resposta.pergunta.titulo}}</p>
              </div>
              <div class="data-respostas-forum">{{resposta.dataCriado | date : 'dd/MM/yyyy HH:mm'}}</div>
              <div class="input-texto-a">
                <p id="resposta" class="caixas-respostas">{{ resposta.resposta }}</p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Caso o usuario nao tem respostas no forum -->
      <div *ngIf="perguntas.length == 0">
        <div class="conteiner-respostas-forum-embaixo">
          <div class="conteiner-respostas-embaixo">
            <div class="caixa-respostas-forum-emcima">
              <p id="pergunta" class="caixas-respostas titulo-principal" style="color: white;">Não há respostas suas neste fórum.</p>

            </div>
            <div class="data-respostas-forum">Data de postagem:</div>
            <div class="input-texto-a">
              <p id="resposta" class="caixas-respostas" style="color:gray ;">Sem respostas vinculadas às perguntas.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
