.tela{
  width: 99vw;
  //height: 170vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white !important;
}

.curso{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-size:4rem;
  margin-bottom: 1rem;
  margin-left: 220px;
  margin-top: -140px;
  color:#4f1964;
  text-align: center;
}


.estilo{
  border-width: 2.4px;   /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-color: #73328d ;
  color: #73328d !important;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  width: 39px;
  border-radius: 10px;
}

.chart{
  height: 89vh;
  width: 80vw;
  border: 2px solid #4f1964;
  margin-bottom: 2rem;
}

// .info{
//   height: 44vh;
//   width: 80vw;
//   background-color: rgba(131, 85, 151, 0.3);
//   padding: 1rem;
//   margin-left: 125px;
//   margin-top: 20px;
// }

.info{
  width: 80vw;
  background-color: rgba(131, 85, 151, 0.3);
  padding: 2rem;
  text-align: justify;
  margin-left: 125px;
  margin-top: 100px;
}

span{
  color: #4f1964;
}

.btn{
  border-radius: 15px;
  background-color: #4F1964;
  color: white;
  padding: 10px;
  height: 3rem;
  width: 10.5rem;
  align-items: center;
  margin-top: -990px;
}


.painel{
  margin-top: 6%;
  width: 1300px;
  margin-left: 6.7rem;
}

.painel-2{
  margin-top: 50px;
  width: 1300px;
  margin-left: 6.7rem;
}

.painel-3{
  margin-top: 50px;
  width: 1300px;
  margin-left: 6.7rem;
}

.painel-4{
  margin-top: 50px;
  width: 1300px;
  margin-left: 6.7rem;
  margin-bottom: 2rem;
}


app-menu{
  margin-top: -130px;
  margin-left: 10px;
  border: none; /* Remove bordas */
}


// .p-menubar {
//   display: flex;
//   flex-direction: column; /* Altera a direção para vertical */
//   margin-left: 50px;
// }

// .p-menubar .p-menuitem-link {
//   height: 60px; /* Defina a altura desejada */
//   line-height: 60px; /* Centraliza o texto verticalmente */
// }

// .p-menubar .p-menuitem {
//   padding: 15px; /* Define o espaçamento interno */
// }

// .intermediate-item{
//   margin-left: 190px;
// }




::ng-deep .menucus{ /* BOTÕES SOMENTE COM UMA OPÇÃO DE NAVEGAÇÃO, FÓRUM, QUIZ*/
  display: flex;
  margin-left: 15rem !important;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #4F1964;
  color: white;
 }

 ::ng-deep .menucus .p-menuitem-text {
   color: white !important; /* Garante que o texto dos itens de menu também seja branco */
 }

 // ::ng-deep .menucus .p-menuitem-text:hover {
 //   width: 100%; /* O link ocupa 100% da largura do item de menu */
 //   height: 100%; /* O link ocupa 100% da altura do item de menu */
 //   text-align: center; /* Centraliza o texto */
 //   padding: 10px; /* Ajusta o espaçamento interno do botão */
 //   background-color: #4F1964;
 // }

 ::ng-deep .menucus .p-menuitem-icon {
   color: white !important; /* Cor dos ícones */
   padding: 5px;
 }



 ::ng-deep .menucu{ /* BOTÃO COM NAVEGAÇÃO PARA OUTROS NIVEIS*/
  margin-left: 15rem !important;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #4F1964;
  color: white;
 }

 ::ng-deep .menucu .p-menuitem-text {
   color: white !important; /* Garante que o texto dos itens de menu também seja branco */
 }

 // ::ng-deep .menucu .p-menuitem-text:hover {
 //   width: 100%; /* O link ocupa 100% da largura do item de menu */
 //   height: 100%; /* O link ocupa 100% da altura do item de menu */
 //   text-align: center; /* Centraliza o texto */
 //   padding: 10px; /* Ajusta o espaçamento interno do botão */
 //   background-color: #4F1964;
 // }

 ::ng-deep .menucu .p-menuitem-icon {
   color: white !important; /* Cor dos ícones */
   padding: 5px;
 }

 /* Estilo base para o item de menu */
 ::ng-deep .p-menuitem-link {
   display: flex; /* Garante que o link ocupe o espaço de forma flexível */
   align-items: center; /* Centraliza o conteúdo verticalmente */
   justify-content: center; /* Centraliza o conteúdo horizontalmente */
   width: 100%; /* O link ocupa 100% da largura do item de menu */
   height: 100%; /* O link ocupa 100% da altura do item de menu */
   padding: 10px 15px; /* Ajusta o espaçamento interno */
   text-decoration: none; /* Remove o sublinhado */
   background-color: transparent; /* Cor de fundo inicial transparente */
   color: inherit; /* Herda a cor do pai */
   border-radius: 8px;
 }

 /* Efeito de hover para o item de menu completo */
 ::ng-deep .p-menuitem-link:hover {
   background-color: #835597; /* Cor de fundo quando o cursor passa */
   color: white !important; /* Cor do texto ao passar o cursor */
   // transition: background-color 0.3s ease, color 0.3s ease; /* Suaviza as transições */
 }


 ::ng-deep .p-menuitem-link {
   color: inherit !important; /* Herdar a cor do contêiner (botão) */
   text-decoration: none !important; /* Remove o sublinhado */
 }


 ::ng-deep .p-submenu-list .p-menuitem-link {
   background-color: #4F1964 !important; /* Cor de fundo das opções do submenu (tom claro) */
   color: white !important; /* Cor do texto das opções */
   margin-top: 8px;
   margin-right: 10px;
   width: 180px;
 }

 ::ng-deep .p-submenu-list .p-menuitem-link:hover {
   background-color: #835597 !important; /* Cor de fundo das opções do submenu (tom claro) */
   color: white !important; /* Cor do texto das opções */
   margin-top: 10px;
 }

 /* Remove o fundo branco das opções do menu */
 ::ng-deep .p-submenu-list {
   background-color: transparent; /* Define o fundo como transparente */
 }

 // ::ng-deep .menucus2{
 //   margin-left: 50rem !important;
 //  }




/* Estilizando o cabeçalho (header) do p-panel */
::ng-deep .p-panel.custom-panel .p-panel-header {
  background-color: #73328d !important; /* Cor de fundo do cabeçalho */
  color: white !important; /* Cor do texto do cabeçalho */
  padding: 15px; /* Ajuste de padding se necessário */
  border-radius: 15px;
}

/* Estilizando o conteúdo do p-panel */
::ng-deep .p-panel.custom-panel .p-panel-content {
  background-color: #8355974d !important; /* Cor de fundo do conteúdo */
  color: #2a1261 !important; /* Cor do texto */
  padding: 15px; /* Ajuste de padding */
}

/* Se precisar estilizar a borda do painel */
::ng-deep .p-panel.custom-panel {
  border: 1px solid #73328d !important; /* Cor da borda */
  border-radius: 15px;
}

::ng-deep .p-panel.custom-panel {
  border: 1px solid #73328d !important; /* Cor da borda */
  border-radius: 15px;
}

/* Estilizando o botão de expandir/recolher (toggle) */
::ng-deep .p-panel.custom-panel .p-panel-header .p-panel-icons .p-panel-titlebar-toggler {
  color: white !important; /* Cor do ícone de expandir/recolher */
}

/* Estilizando o ícone do botão de expandir/recolher (toggle) */
::ng-deep .p-panel.custom-panel .p-panel-header .p-panel-icons .p-panel-titlebar-toggler .pi {
  color: white !important; /* Cor do ícone */
}



// .logo {
//   margin-bottom: 40rem;
//   width: 290px;
//   margin-top: 120px;
//   padding: -150px;
//   fill: none;
// }

.logo {
  margin-bottom: 40rem;
  width: 290px;
  margin-top: 170px;
  padding: -150px;
  fill: none;
}


.video{
  margin-top: 1rem;
  margin-left: 25rem;
}

.footer {
  background-color: #8355974d;
  color: #4F1964;
  text-align: center;
  margin-top: 10rem;
  padding: 30px 0;
  position: absolute;
  width: 99.2vw;
}



