/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:  #73328d;
}

.tela{
  height: 100vh;
  width: 98vw;
}

/*::selection{
    color: #000000;
    background:  #ebc9f8;
} */

// .start_btn{
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
//               0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }

.info_box,
.quiz_box,
.start_btn,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    //             0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}


/* ----------------------- TITULO DO QUIZ  ------------------------ */


.cor-nome {
  color: #4F1964;
  background-color: #f4e3fc;
  padding: 15px;
  border-radius: 15px;
  width: 400px;
  font-size: 2em;
  text-align:center;
  margin-top: -10px;
  margin-left: 35rem;
}

header {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/*.custom-hr-b, .custom-hr {
  height: 3px;
  background-color: #4F1964;
}*/

.texto{
font-size:25px;
color:#000000;
margin-left: 270px;
margin-top: 20px;
}

/* ----------------------- BOTÃO INICIAL ------------------------ */

.start_btn button{
    font-size: 23px;
    font-weight: 500;
    color:  #73328d;
    padding: 15px 30px;
    outline: none;
    border: 1px solid #73328d;
    border-radius: 5px;
    margin-right: 2rem;
    background: #fff;
    cursor: pointer;
}

.button_container1 {
  margin-left: -440px;
  margin-top: 130px;
  display: flex;        /* Alinha os botões na horizontal */
  justify-content: center;
  justify-items: center;
}

.button_container2 {
  margin-left: 685px;
  margin-top: -68px;
  display: flex;        /* Alinha os botões na horizontal */
  gap: 1320px;            /* Espaçamento entre os botões */
}

.button_container3 {
  margin-left: 1000px;
  margin-top: -67px;
  display: flex;        /* Alinha os botões na horizontal */
  gap: 1320px;            /* Espaçamento entre os botões */

}

.start_btn {
  margin-bottom: 20px; /* Adiciona espaçamento entre os botões */
}

.start_btn:last-child {
  margin-bottom: 0; /* Remove o espaçamento do último botão */
}


/* -------------------------------------------------------------------------- */


.info_box{ /* Base  da DIV de instruções */
    width: 680px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{  /* Código da linha de cima da div de instruções */
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
    background-color: #f4e3fc;
}


.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #73328d; /* Cores das letras de instrução do quiz */
}


.info_box .buttons{ /* Código da linha de baixo da div de instruções */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #73328d;
    background-color: rgb(255, 255, 255);
    color:#73328d;
    transition: all 0.3s ease;
}

.info_box .buttons button:hover {
  background-color: #eed7f7; /* Cor de fundo ao passar o cursor */
  color:#73328d;
}


/* ------------------------- DIV D QUIZ COM O TEMPO --------------------------------------------- */


.quiz_box{ /* DIV base do quiz */
  margin-top: 3rem;
    width: 650px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

/* CÓDIGO PA LAVARA 'TIME OFF'
.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
} */

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 65px;
    color: #73328d;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #eed7f7;
    user-select: none;
}

.quiz_box header .time_line{ /* Linha que divide o titulo das perguntas */
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
    background-color: #73328d;
}


/* ----------------------------------------------------------------- */


section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .que_text{ /* Código das perguntas */
    font-size: 25px;
    font-weight: 600;
}

section .que_text .bolinha{ /* Código das perguntas */
    width: 30px;
    height: 30px;
    background-color: #f5d6fe; /* Cor da bolinha */
    border-radius: 50%;
    margin-right: 10px;

}


section .option_list{
    padding: 20px 0px;
    display: block;
}

section .option_list .option{ /* Código da cor base das alternativas */
    background:  #f8f0fb;
    border:1px solid #73328d;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{ /* Código que muda a cor quando passa o cursor por cima da alternativa */
    background: #f5d6fe;
    border: 1px solid #73328d;
}

section .option_list .option.correct{ /* Mstra se é a alternativa certa */
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{ /* Mostra se é a alternativa errada */
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}


/* ------------------------------------------------------------------------------------ */


footer{ /* Linha que divide as perguntas do botão */
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
    border-top: 2px solid #ebc9f8;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background:#73328d;
    border: 1px solid #73328d;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #f5d6fe;
    color:#000000;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}


/* ------------------ DIV QUE MOSTRA QUANTAS QUESTÕES FORAM ACERTADAS OU ERRADAS ------------------------------------------ */
/* ------------------ BOTÕES QUE VOLTAM OU FECHAM O QUIZ------------------------------------------ */

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 650px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color:#73328d;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #73328d;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #73328d;
}

.buttons button.restart:hover{
    background: #73328d;
}

.buttons button.quit{
    color: #73328d;
    background: #fff;
}

.buttons button.quit:hover{
    color: #73328d;
    background: #f5d6fe;
}
