
/* ----------------------- COR, TAMANHO E POSIÇÃO DO TÍTULO ------------------------------------ */


.tela{
  width: 98vw; /* Ocupa 100% da largura do viewport */
  height: 110vh; /* Ocupa 100% da altura do viewport */
}

.titulo {
  color: #4F1964;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

 /* ------------------ DIV DO FÓRUM COM BOTÕES DE ADICIONAR PERGUNTA E TEGS ----------------------------------------------- */


.quiz{
  display: flex;
  justify-content: center;
  align-items: center;
}

.borda-quiz {

  border-width: 2px;   /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-color: hsl(283, 48%, 37%);
  background-color: #d19bec40;
  padding: 100px; /* Tamanho da caixa */
  width: 87rem; /* Comprimento da borda */
  height: 40rem;/* Tamanho da caixa */
  position: absolute;
  top: 140px; /* ajuste conforme necessário */
}


.botao {
  border-radius: 20px;
  background-color: #4F1964;
  color: white;
  height: 2.5rem;
  margin-left: 63rem;
  margin-top: 2rem;
  font-size: 1em;
  width: 10rem;
  margin-top: -120px;
}


/* --------------------------ITENS DENTRO DA DIV BRANCA------------------------------------------------------ */


.conteiner-a{
 display: flex;
 justify-content: center;
}

.conteiner{
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 100px; /* Tamanho da caixa */
  width: 80rem; /* Comprimento da borda */
  height: 30rem;/* Tamanho da caixa */
  position: absolute;
  top: 90px; /* ajuste conforme necessário */
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
}


.custom-hr{
  height: 4px;
  margin-bottom: 23rem;
  width: 79.7rem;
  background-color: #4F1964;
  position: absolute;
}

.custom-hr-b{
  height: 4px;
  margin-bottom: 10rem;
  width: 79.7rem;
  background-color: #4F1964;
  position: absolute;
}

.linha{
  
}

.status{
  font-size: 1.5em;
  margin-top: -400px;
  margin-left: 65px;
  color: #4F1964;
}

.pergunta{
  font-size: 1.5em;
  margin-top: -400px;
  margin-left:4rem;
  color: #4F1964;
}

.postar{
  font-size: 1.5em;
  margin-top: -400px;
  margin-left: 50rem;
  color: #4F1964;
}



.status-condicao{
  margin-left: -50rem;
  color: #23903c;
  background: #d4edda;
  border-radius: 50%;
  padding: 0.6rem;
}


.user{
  display: flex;
  justify-content: end;
  background-color: #f4e3fc;
  width: 10rem;
  height: 5.5rem;
  font-size: 1em;
  position: absolute;
  margin-right: -58rem;
  margin-top: -235px;
  border-radius: 15px;
}




/*---------------------- CAIXA DE TEXTO --------------------------------------------------------  */


.input{
  flex: 2.4em;
  border-radius: 5px;
  border: 1px solid #000000;
  width: 1030px;
  padding: 100px;
}

.input-box-a {
  display: flex;
  flex-direction: column;
}

.input-box-a input:hover {
  background-color: #eeeeee75;
}

.input-box-a input:focus-visible {
  outline: 1px solid #3e37c0;
}

.input-box-a label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box-a input::placeholder {
  color: #000000be;
}


.forum-b{
  flex: 2.4em;
  margin-left: 10rem;
  border-radius: 5px;
  width: 50rem;
  padding: 1rem;
}
