<app-menu></app-menu>

<div class="col-12 tela">

  <div class="title"> INFORMÁTICA - BÁSICO </div>

  <div class="chart">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
  </div>

  <div class="info">
    <h2>Sobre o Nível Básico</h2>
    O <span><b>nível básico</b></span> de informática é fundamental principalmente para estudantes que estão iniciando seu aprendizado no campo da tecnologia da informação.
    Este nível cobre os conceitos essenciais que formam a base para estudos mais avançados em informática.
    As principais matérias abordadas no nível básico são:<br><br>

    <li><span><b>Lógica de Programação:</b></span> É a base para a escrita de programas de computador. Ela envolve o entendimento e a construção de algoritmos que resolvem problemas específicos.<br></li>

    <li><span><b>Sistemas Computacionais:</b></span> Esta matéria aborda a estrutura e o funcionamento dos computadores, incluindo hardware e software.<br></li>

    <li><span><b>Linguagem de Programação:</b></span> Estudo das linguagens usadas para escrever programas de computador. Inclui sintaxe e semântica das linguagens.<br></li>

    <li><span><b>Rede de Computadores e Internet:</b></span> Introdução aos conceitos de redes de computadores e ao funcionamento da internet.</li>

  </div>

  <button class="button-quiz" (click)="quiz()">Quiz - Intermediário</button>

  <button class="button-forum" (click)="forum()">Fórum</button>
  
  <button class="button-avancado" (click)="avancado()">Nivel - Avancado</button>

  <button class="button-intermediario" (click)="intermediario()">Nivel - Intermediário</button>


</div>
