<app-menu></app-menu>

<div class="tela">
  <div class="roxo"></div>

  <div class="cadastro">

    </div>
  </div>



  <div>
    <header>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque sit amet lectus non semper?
      </h5>
    </header>
  </div>


  <div>
   <a>Seu Username <p>00/00/0000 - 00:00</p><hr class="custom-hr"></a>

  <article><h4>
    <div class="input-box">
      <span>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
      </span>
      <input id="adicionar uma resposta"  textarea  class="forum-b"  name="firstname"
        placeholder=""  required />
    </div>
   </h4></article>

  </div>


  <div class="conteiner">
    <div class="quiz">
      <div class="borda-quiz">

        <div class="input-box">
          <span>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h1>Respostas</h1>
          </span>
          <input id="adicionar uma resposta"  textarea  class="forum"  name="firstname"
            placeholder=""  required />
        </div>

      <h2>Seu Username   -   00/00/0000 - 00:00</h2>

      <article><h6>

        <div class="input-box">
          <span>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
          </span>
          <input id="adicionar uma resposta"  class="forum-a"  name="firstname"
            placeholder=""  required />
        </div>
       </h6></article>

    </div>
  </div>
  </div>


  <div class="postar-button">
    <div class="input-box">
      <button class="button-a">Postar</button>
    </div>
</div>


<div class="deletar-button">
  <div class="input-box">
    <button class="button-b">Deletar</button>
  </div>
</div>









  <!--- USERNAME -->

  <!--<div>
    <p-sidebar #sidebarRef [(visible)]="sidebarVisible">
      <ng-template pTemplate="headless" class="pi-seta-direita">
        <div class="flex flex-column h-full gradient-background" header="Degradê com PrimeNG">
          <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
            <span class="inline-flex align-items-center gap-3">
              <div class="mt-auto">
                <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
                <a pRipple class="m-3 flex align-items-center cursor-pointer p-7 gap-1 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                  <p-avatar label="P" icon="pi pi-user" styleClass="mr-2" size="large" [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }" shape="circle"></p-avatar>
                  <span class="font-bold">{{user.nome}}</span>
                </a>
                <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
              </div>
            </span>
          </div>
        </div>
      </ng-template>
    </p-sidebar>

  </div> -->
