
.tela{
  width: 96vw; /* Ocupa 100% da largura do viewport */
  height: 98vh; /* Ocupa 100% da altura do viewport */
 }

.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcao {
  position: absolute; /* Coloca o botão no canto superior direito */
  top: 4.1rem; /* Ajuste a distância do topo conforme necessário */
  right: 10px; /* Ajuste a distância da direita conforme necessário */

  // border-radius: 5px;
  color:#4F1964;
  border: none;
  background-color: rgba(223, 203, 233, 0.1);
  // height: 1.5rem;
  width: 4rem;
  margin-right: 3rem;
  margin-top: 0.8rem;
  font-size: 40px;
}

.opcoes {
  position: absolute; /* Para empilhar os botões */
  top: 6rem; /* Ajuste para a posição vertical dos botões */
  right: 10px; /* Alinhamento à direita */
  display: flex;
  flex-direction: column; /* Coloca os botões um em cima do outro */
  border: none;
}

.opcoes button {
  margin: 5px 0; /* Espaçamento entre os botões */
  border-radius: 5px;
  background-color:#4F1964;
  height: 1.8rem;
  margin-right: 3rem;
  margin-top: 0.5rem;
  color: #ffffffbe;
}

/* ---------------- USERNAME - DATA - HORARIO ------------------------------------- */

.estilo-nome{
  color: #4F1964;
  /* cor da palavra */
  align-items: center;
  margin: 1px;
  padding: 10px;
  font-size: 1.7em;
}

.estilo-data{
  background-color: #f4e3fc;
  margin: 1px;
  padding: 10px;
  border-radius: 15px;
  font-size: 1.7em;
}

.custom-hr{
  height: 3px;
  margin-top: 60px;
  margin: 5px;
  width: 98vw;
  background-color: #4F1964;
  border: none;
}

.cor-titulo-descricao {
  display: flex;
  justify-content: center;
  color: #4F1964;
  /* cor da palavra perfil*/
  text-align:center;
  margin-top: 5px;
  font-size: 1em;
  word-wrap: break-word; /* Quebra as palavras longas para caber na largura */
}

header {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 100;
  margin-bottom: 30px;
  text-align: center; /* Centraliza o texto no cabeçalho */
  width: 80%; /* Define a largura do cabeçalho para 80% da tela */
  max-width: 1200px; /* Define uma largura máxima, opcional */
  margin: 0 auto; /* Centraliza o cabeçalho horizontalmente */

}


.caixa-b{
  border-width: 4px;   /* Largura da borda */
  border-radius: 5px;
  border: 2px solid #4F1964;
  background-color: rgba(246, 237, 250,0.7);
  width: 1200px;
  padding: 25px;
  margin: 10px;
}

/* ------------------- DIV QUE SEPARA A POSTAGEM DAS RESPOSTAS --------------------------------------  */


.caixa-adicionar-respostas{
}

.borda-adicionar-respostas {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  border-width: 3px;   /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-color: hsl(283, 48%, 37%);
  padding: 40px; /* Tamanho da caixa */
  margin: 20px;
  width: 1200px; /* Comprimento da borda */
  height: 450px;/* Tamanho da caixa */
}


/* ------------------- CAIXA PARA ADICIONAR UMA RESPOSTA ------------------------------  */

.cor{ /* titulo: respostas */
  color: #4F1964;
}

.estilo-palavra { /* titulo: respostas */
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 90;
}


.input-box {
  font-size: 0.5em;
  width: 990px;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #3e37c0;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}


/* ------------------------ NOME DO USUARIO DATA DE CRIAÇÃO DO COMENTÁRIO -------------------------------------------------------------------------------- */


.informacoes-usuario{
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  border-radius: 15px;
  font-size: 1.3em;
  color: #4F1964;
  font-weight: 500 ;
}


/* ------------------------------- BOTÕES DE POSTAR E DELETAR ------------------------------------------------------- */


.postar-button{
  margin-left: 890px;
}

.button-a{
  border-radius: 20px;
  background-color: #4F1964;
  color: #ffffff;
  width: 10rem;
  height: 2.5rem;
  margin-left: 0.1rem;
  margin-top: 10px;
  font-size: 5em;
}


.deletar-button{
  margin-top: -30px; /* Altura do botão */
  margin-right: 100px;
  margin-left: 290px;
}

.button-b{
  border-radius: 20px;
  background-color: #4F1964;
  color: #ffffff;
  width: 10rem;
  height: 2.5rem;
  margin-left: 0.1rem;
  margin-top: 28px;
  font-size: 1.5em;
}

/* ----------------------------- CAIXA PRINCIPAL PARA ADICIONAR RESPOSTA ------------------------------------------------------  */

.forum{
  padding: 15px;
  border-radius: 10px;
  width: 1100px;
  height: 95px;
  font-size: 1.6em;
  border: 2px solid #4F1964;
  background-color: rgba(246, 237, 250,0.7);
  word-wrap: break-word;
}

.adicionar{
  padding: 15px;
  border-radius: 10px;
  width: 900px;
  height: 90px;
  font-size: 3em;
  border: 2px #4F1964;
  word-wrap: break-word;
}

textarea.adicionar {
  padding: 15px;
  border-radius: 10px;
  width: 1100px;
  height: 90px;
  font-size: 3em;
  border: 2px solid #4F1964; /* Cor da borda sempre visível */
  word-wrap: break-word;
  outline: none; /* Remove o contorno adicional no foco */
}

textarea.adicionar:focus {
  border: 2px solid #4F1964; /* Mesma cor de borda para manter a consistência */
}


.button-voltar {
  margin-left: 1250px;
  margin-top: 1px;
}

.button-c {
  border-radius: 20px;
  background-color: #4F1964;
  color: white;
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5em;
}

.icone{
  font-size: 1em;
  background-color: none;
  border-style: none;
  justify-content: end;
  color: #4F1964;
}
