<app-menu></app-menu>

<!---------------------------------------------------------------------------------------------------------->
<p-toast></p-toast>
<div class="tela">
  <button class="opcao pi pi-ellipsis-h" (click)="toggleOptions()"></button>

  <div *ngIf="showOptions" class="opcoes">
    <button (click)="fecharPergunta()">Fechar</button>
    <button (click)="deletarPergunta()">Deletar</button>
    <!-- <button (click)="denunciar()">Denunciar</button> -->

    <div class="opcoes" class="card flex justify-content-center gap-2">
      <p-toast />
      <p-confirmPopup #confirmPopupRef [dismissableMask]="false" [style]="{padding: '30px','top': '50%', 'left': '50%', 'transform': 'translate(-50%, -50%)'}">
          <ng-template pTemplate="headless" let-message let-test>
              <div class="border-round p-3">
                  <span>{{ message.message }}</span>
                  <div class="flex align-items-center gap-2 mt-3">

                    <div *ngFor="let category of categories" class="field-checkbox">
                      <p-radioButton [inputId]="category" [value]="category" formControlName="tags" [style]="{top:'-10px'}"></p-radioButton>
                      <label [for]="category" class="ml-2">{{ category }}</label>
                    </div>

                    <br>

                    <div class="flex align-items-center gap-3 mb-5">
                      <label for="email" class="font-semibold w-6rem">Outro:</label>
                      <input pInputText id="email" class="flex-auto" autocomplete="off" />
                  </div>


                      <p-button (onClick)="accept()" label="Denunciar" size="small" [style]="{'background-color': '#ccadd8', borderColor: '#4F1964', color: '#4F1964', borderRadius: '20px', width: '10rem', height: '2rem', left:'-10px'}"/>
                      <p-button (onClick)="reject()" label="Voltar" [outlined]="true" size="small" [outlined]="true" size="small" [style]="{'background-color': '#ccadd8', borderColor: '#4F1964', color: '#4F1964', borderRadius: '20px', width: '10rem', height: '2rem', left:'10px'}"/>
                  </div>
              </div>
          </ng-template>
      </p-confirmPopup>
    <p-button  [style]="{'background-color': '#4F1964', color: '#ffffffbe', borderRadius: '5px', width: '10rem', height: '1.5rem'}" (onClick)="confirm($event)">Denunciar</p-button>  <!---  [style]="{'background-color': '#4F1964', borderColor: '#4F1964', color: ' #ffffffbe', borderRadius: '5px',  height: '1.8rem',  width: '4rem'}" label=""--->
    </div>

    <!-- captar do pop-ip as infos de motivo e conteudo -->
    <!-- <button (click)="denunciar(motivo, conteudo)">Deletar Pergunta</button> -->

  </div>


  <div class="button-voltar">
    <button class="button-c pi pi-arrow-left" (click)="voltar()"></button>
  </div>

  <header d-flex justify-content-center>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
    <h4 class="cor-titulo-descricao">{{ pergunta.titulo }}<br></h4>
  </header>

  <div class="d-flex justify-content-around">
    <p class="estilo-nome"> Por: {{ pergunta.usuario.nome }}</p>
    <p class="estilo-data ">{{ pergunta.dataCriado|date:'dd/MM/yyyy - HH:mm'}}</p>
  </div>

  <hr class="custom-hr">

  <div class="conteiner">
    <div class="caixa-b">
      <h2>{{ pergunta.detalhes }}</h2>
      <!-- <p class="cor" style="font-weight: 400px;">#{{pergunta.tags[0]}}</p> -->
      <div *ngFor="let tag of pergunta.tags" class="cor">#{{ tag }}</div>
    </div>
  </div>

  <div class="conteiner">
    <div class="borda-adicionar-respostas">

      <div class="input-box">
        <span class="estilo-palavra">
          <h1 class="cor">Respostas</h1>
        </span>
        <textarea rows="2" [(ngModel)]="resposta.resposta" class="adicionar" placeholder="Insira sua resposta"
          [disabled]="!pergunta.status"></textarea>
        <div class="postar-button">
          <div class="input-box">
            <button class="button-a" (click)="adicionarResposta()" [disabled]="!pergunta.status">Postar</button>
          </div>
        </div>
      </div>

      <div *ngFor="let resposta of retornoRespostas; let i = index">
        <br>
        <div class="d-flex informacoes-usuario" style="display: flex; justify-content: space-between; align-items: center;">
          <!-- Alinha nome e data -->
          <div style="display: flex;">
            <p style="font-size: 1em;">{{ resposta.usuario.nome }}</p>
            <p style="margin-left: 2px;">- {{ resposta.dataCriado | date : 'dd/MM/yyyy - HH:mm'}}</p>
          </div>

          <!-- Lixeira no canto direito -->
          <button class="icone pi pi-trash" (click)="deletarResposta(i, resposta.respostaId)"></button>
        </div>

        <textarea [(ngModel)]="resposta.resposta" disabled class="forum">{{ resposta.usuario.nome }}</textarea>
      </div>
    </div>

  </div>
</div>


<!-- <div class="deletar-button">
    <div class="input-box">
      <button class="button-b">Deletar</button>
    </div>
  </div> -->
