<div class="card full-screen-card">
  <p-menubar [model]="items" [style]="{ 'background-color': '#8355974d',
  color: '#4F1964', borderColor: '#73328d',
  display: 'flex', width: '100%', height: '17vh', padding:'4rem'}" /> <!-- position: 'fixed' -->

  <app-menu></app-menu>
</div>

<div class="curso">


  <div *ngIf="user.curso === Curso.INFORMATICA">

    <div style="margin-left:9rem">
      <img src="../../../assets/images/logo-nimet.svg" alt="imagem ilustrativa do login" id="img" class="logo mb-3"
        style="width: 200px; height: auto; border-radius: 50px;" />
    </div>

    <div class="title"> INFORMÁTICA - <a class="estilo">AVANÇADO</a></div>

    <div class="info">
      <h2>Sobre o Nível Avançado</h2>
      A Informática no <span><b>nível Avançado</b></span> aprofunda os conhecimentos adquiridos nas fases anteriores, exigindo maior domínio técnico e capacidade de resolução de problemas complexos.
      Aqui estão três das principais matérias que os alunos geralmente encontram mais dificuldades:
      <br><br>

      <li><span><b>Spring</b></span><br></li>

      <li><span><b>Procedure</b></span><br></li>

      <li><span><b>Matriz</b></span> </li>

      <br>
      Estudaremos elas mais profundamente, nos paineis abaixo!
    </div>

    <div class="col-12 tela"></div>


    <div class="painel">
      <div class="card flex justify-content-center background">
        <p-panel header="Spring::" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px'}">
            <li><span><b>Spring:</b></span>
              <span><b>Spring</b></span> é um framework avançado para o desenvolvimento de aplicações em Java.
              Ele facilita a criação de sistemas robustos e escaláveis, oferecendo várias ferramentas que ajudam no gerenciamento de dependências e na implementação de funcionalidades complexas, como segurança e acesso a dados.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=YY_hf0FOIcU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-2">
      <div class="card flex justify-content-center">
        <p-panel header="Procedures:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Procedures:</b></span>
              <span><b>Procedures (ou procedimentos armazenados)</b></span> são blocos de código SQL que ficam salvos dentro do banco de dados e podem ser executados sempre que necessário.
              Elas ajudam a automatizar e otimizar tarefas repetitivas no banco, melhorando o desempenho das consultas e operações.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=8fEx1NyrsUU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-3">
      <div class="card flex justify-content-center">
        <p-panel header="Desenvolvimento de Sistemas:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Matrizes:</b></span>
              <span><b>Matrizes</b></span> são estruturas de dados que organizam informações em formato de tabelas, com linhas e colunas.
              Elas são muito usadas na lógica de programação para armazenar e manipular grandes volumes de dados de forma estruturada e eficiente.

              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=XKDSNSJvlxM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>

  </div>




  <div *ngIf="user.curso === Curso.MECANICA">

    <div style="margin-left:12rem">
      <img src="../../../assets/images/logo-nimet.svg" alt="imagem ilustrativa do login" id="img" class="logo mb-3"
        style="width: 200px; height: auto; border-radius: 50px;" />
    </div>

    <div class="title"> MECANICA - <a class="estilo">AVANÇADO</a></div>

    <div class="info">
      <h2>Sobre o Nível Avançado</h2>
      A mecânica no <span><b>nível Avançado</b></span> aprofunda os conhecimentos adquiridos nas fases anteriores, desafiando os alunos a aplicar conceitos complexos em situações práticas e teóricas.
      Aqui estão três das principais matérias que os alunos geralmente encontram mais dificuldades:
      <br><br>

      <li><span><b>Flambagem de Materiais</b></span><br></li>

      <li><span><b>Estruturas Mecânicas</b></span><br></li>

      <li><span><b>Uniões de Elementos de Máquinas</b></span> </li>

      <br>
      Estudaremos elas mais profundamente, nos paineis abaixo!
    </div>

    <div class="col-12 tela"></div>

    <div class="painel">
      <div class="card flex justify-content-center background">
        <p-panel header="Flambagem de Materiais:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Flambagem de Materiais:</b></span>
              A <span><b>Flambagem de Materiais</b></span> estuda o comportamento de estruturas quando submetidas a compressão. Esse fenômeno é crucial para a análise de colunas e vigas, pois pode levar à falha estrutural.
              Compreender as condições que levam à flambagem é fundamental para projetar estruturas seguras e eficientes.
=
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=DifEOiStFok"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-2">
      <div class="card flex justify-content-center">
        <p-panel header="Estruturas mecânicas:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Estruturas Mecânicas:</b></span>
              O estudo <span><b>Estruturas mecânicas</b></span> abrange a análise e o design de componentes que suportam cargas, como pontes e edifícios.
              Essa disciplina envolve o uso de métodos de cálculo para garantir que as estruturas possam resistir a forças externas, assegurando sua estabilidade e funcionalidade.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/watch?v=eEwctQP_e_M"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-3">
      <div class="card flex justify-content-center">
        <p-panel header="Uniões de Elementos de Máquinas:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Uniões de Elementos de Máquinas:</b></span>
              As <span><b>Uniões de Elementos de Máquinas</b></span> referem-se aos métodos e técnicas utilizados para conectar diferentes componentes mecânicos, como soldagem, parafusos e encaixes.
              O entendimento dessas uniões é vital para garantir a integridade e a eficiência dos sistemas mecânicos, influenciando diretamente o desempenho das máquinas.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=5Cn7D3_kHOM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>

  </div>





  <div *ngIf="user.curso === Curso.ELETRONICA">

 <div style="margin-left:10rem">
      <img src="../../../assets/images/logo-nimet.svg" alt="imagem ilustrativa do login" id="img" class="logo mb-3"
        style="width: 200px; height: auto; border-radius: 50px;" />
    </div>

    <div class="title"> ELETRONICA - <a class="estilo">AVANÇADO</a></div>


    <div class="info">
      <h2>Sobre o Nível Avançado</h2>
      A Eletrônica no <span><b>nível Avançado</b></span> exige uma compreensão profunda dos conceitos aprendidos nos níveis iniciais, levando os alunos a enfrentar desafios mais complexos na análise e no desenvolvimento de sistemas eletrônicos.
      Aqui estão três das principais matérias em que os alunos geralmente encontram mais dificuldades:
      <br><br>

      <li><span><b>Circuito em Série e em Paralelo</b></span><br></li>

      <li><span><b>Circuitos Retificados</b></span><br></li>

      <li><span><b>Arquitetura Geral de Computadores</b></span> </li>

      <br>
      Estudaremos elas mais profundamente, nos paineis abaixo!
    </div>

    <div class="col-12 tela"></div>

    <div class="painel">
      <div class="card flex justify-content-center background">
        <p-panel header="Circuito em Série e em Paralelo:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Circuito em Série e em Paralelo:</b></span>
              A matéria de<span><b>Circuito em Série e em Paralelo</b></span> ensina como os componentes elétricos são organizados e como a corrente elétrica se comporta em cada configuração.
              Essa base é fundamental para projetar e entender circuitos mais complexos.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=TgE6YzDMndo"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-2">
      <div class="card flex justify-content-center">
        <p-panel header="Circuitos Retificados:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Circuitos Retificados:</b></span>
              <span><b>Circuitos Retificados</b></span> são utilizados para converter corrente alternada (AC) em corrente contínua (DC).
              Essa conversão é crucial para o funcionamento de muitos dispositivos eletrônicos, e os alunos aprendem a projetar e analisar esses circuitos com retificadores e diodos.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src=" https://www.youtube.com/watch?v=JEAqK4WEOcI"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>


    <div class="painel-3">
      <div class="card flex justify-content-center">
        <p-panel header="Arquitetura Geral de Computadores:" [toggleable]="true" styleClass="custom-panel">
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <li><span><b>Arquitetura Geral de Computadores:</b></span>
              A <span><b>Arquitetura Geral de Computadores</b></span> envolve o estudo dos componentes principais de um computador, como o processador, a memória e os sistemas de entrada e saída.
              Compreender como essas partes trabalham juntas é essencial para o desenvolvimento de sistemas computacionais eficientes.
              <br></li>

              <!-- VIDEO -->

              <!--

            <div class="row">
              <div class="col-md-4">
                <div class="video">
                  <iframe width="400" height="285"
                    src="https://www.youtube.com/watch?v=WVoWDABaXLk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

            </div> -->
          </p-scrollPanel>
        </p-panel>
      </div>
    </div>

  </div><br><br>

</div>
  <footer class="footer">
    <div class="footer-content">
        <p>© 2024 - Todos os direitos reservados - ABSisters</p>
    </div>
</footer>
