<app-menu></app-menu>

<div class="col-12 tela">

  <div class="title"> INFORMÁTICA - AVAÇADO</div>

  <div class="chart">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
  </div>

  <div class="info">
    <h2>Sobre o Nível Avançado</h2>
    O nível avançado em informática é destinado a estudantes que já possuem uma compreensão aprofundada dos conceitos intermediários e desejam se especializar ainda mais em áreas específicas e complexas da informática.
    Este nível aborda tópicos avançados que são essenciais para o desenvolvimento de soluções inovadoras e robustas. As principais matérias são:<br><br>

    <li><span><b>Lógica de Programação:</b></span> É a base para a escrita de programas de computador. Ela envolve o entendimento, construção de algoritmos que resolvem problemas específicos.<br></li>

    <li><span><b>Linguagem de Programação:</b></span> Estudo das linguagens usadas para escrever programas de computador. Inclui sintaxe e semântica das linguagens.<br></li>

    <li><span><b>Segurança da Informação:</b></span> Estudo de práticas e tecnologias para proteger sistemas de informação contra ameaças e ataques cibernéticos.<br></li>

    <li><span><b>Desenvolvimento de Sistemas:</b></span> Aplicação de técnicas e ferramentas avançadas para o desenvolvimento de sistemas complexos e de grande escala.</li>
  </div>

  <button class="button-quiz">Quiz - Avançado</button>

  <button class="button-forum">Fórum</button>
</div>
