<app-menu></app-menu>

  <div class="conteiner"></div>

<form [formGroup]="perguntaForm" class="form">
  <div>
    <header>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap"/><h6 class="titulo-principal">Adicionar Pergunta</h6>
    </header>
  </div>

  <div class="postar-button">
    <div class="input-box">
      <button class="button-postar" (click)="montarRequest()">Postar</button>
    </div>
  </div>

  <div class="conteiner">
    <div class="adicionar-pergunta-titulo">
      <div class="borda-adicionar-pergunta">
        <header>
          <h5 class="titulo">TÍTULO</h5>
        </header>
        <div class="caixa-texto-titulo">
          <div class="caixa-titulo">
            <div class="input-box">
              <input id="adicionar-uma-resposta" class="form-contr" type="text" name="titulo" placeholder="" required formControlName="titulo"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="adicionar-pergunta-descricao">
      <div class="borda-pergunta-descricao">
        <header>
          <h3 class="descricao">DESCRIÇÃO</h3>
        </header>
        <div class="caixa-texto-descricao">
          <div class="caixa-descricao">
            <div class="input-box-descricao">
              <input id="adicionar-uma-resposta" class="forum-descricao" type="text" formControlName="detalhes" placeholder="" required />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tela-tags">
    <div class="borda-tags">
      <div class="card">
        <div class="flex justify-content-center flex-wrap gap-3 mb-4">
          <span class="titulo-tags">Tags</span>
          <!-- Lupa de pesquisa (pode ajustar conforme necessário) -->
          <div class="card flex flex-wrap justify-content-center gap-3" [style]="{padding:'-5px'}">
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" class="barra-pesquisa"/>
            </p-iconField>
          </div>
        </div>
      </div>

      <div *ngFor="let category of categories" class="field-checkbox">
        <p-radioButton [inputId]="category" [value]="category" formControlName="tags" [style]="{top:'-10px'}"></p-radioButton>
        <label [for]="category" class="ml-2">{{ category }}</label>
      </div>

    </div>
  </div>
</form>
