<app-menu></app-menu>

<div class="tela">
  <div class="roxo"></div>
  <div class="conteiner"></div>
</div>

<form [formGroup]="perguntaForm" class="form">
  <div>
    <header>
      <h6>Adicionar Pergunta</h6>
    </header>
  </div>

  <div class="quiz-button">
    <div class="input-box">
      <button class="button-a" (click)="montarRequest()">Postar</button>
    </div>
  </div>

  <div class="conteiner">
    <div class="quiz">
      <div class="borda-quiz">
        <header>
          <h5>TÍTULO</h5>
        </header>
        <div class="caixa-a">
          <div class="caixa">
            <div class="input-box">
              <input id="adicionar-uma-resposta" class="form-contr" type="text" name="titulo" placeholder="Adicionar título" required formControlName="titulo"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="quiz-a">
      <div class="borda-quiz-a">
        <header>
          <h3>DESCRIÇÃO</h3>
        </header>
        <div class="caixa-b">
          <div class="caixa-c">
            <div class="input-box-a">
              <input id="adicionar-uma-resposta" class="forum-b" type="text" formControlName="detalhes" placeholder="Adicionar descrição" required />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tela-perfil">
    <div class="borda">
      <div class="card">
        <div class="flex justify-content-center flex-wrap gap-3 mb-4">
          <span>Tags</span>
          <!-- Lupa de pesquisa (pode ajustar conforme necessário) -->
          <p-button class="lupa" icon="pi pi-search" [rounded]="true" [text]="true" [raised]="true" severity="help"></p-button>
        </div>
      </div>

      <div *ngFor="let category of categories" class="field-checkbox">
        <p-radioButton [inputId]="category" [value]="category" formControlName="tags"></p-radioButton>
        <label [for]="category" class="ml-2">{{ category }}</label>
      </div>
    </div>
  </div>
</form>
